* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #90e0ef;
    width: 100vh;
}

.main-card {
    min-width: 300px;
    width: 20%;
    border: 1px solid #808080;
    position: absolute;
    left: 40%;
    top: 30px;
}

figure {
    background-color: #808080;
}

img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #808080;
}


a, h3, p, section {
    padding: 10px;
    background-color: #ade8f4;
}